h3 {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

#my-id {
	background-color:blue; font-style: italic;
}

.my-class {
	text-align: left; 
	margin: 10px;
	color: green;
}

.my-container {
	background-color: cyan;
	border: 8px solid #B22222;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 10px;
}

img {
	margin-left: 10px;
	margin-top: 10px;
}